body {
	margin: 0;
	font-family: serif;
	line-height: 1.3em;
	background-image: radial-gradient(circle,#78b2c441,#87b3dd80),url("images/background_image.jpg");
	background-size: cover;
}

/* Grid Layout */
.grid>div {
	/*background: rgb(255, 255, 255);*/
	background-color: rgba(255, 255, 255, 0.199);
	border-radius: 15px;
	padding: 1em;
	animation: zoom 600ms;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.26), 0 0 1px rgba(0,0,0,0.1);
	
}

.grid>div:nth-child(odd) {
	background: rgba(255, 255, 255, 0.199);
	height:min-content;
}
.grid >div:nth-child(1) {
	background: rgba(255, 255, 255, 0.199);
	height: 80px;
	border-radius: 5px;
	
}

.grid {
	display: grid;
	grid-template-columns: 18% 60% 22%;
	grid-gap: 1em;
	grid-auto-rows: auto;
	margin-top: 4em;
	margin-left: 8em;
	margin-right: 8em;
}

/* Grid for Blogs*/
.bloggrid>div {
	background: rgba(255, 255, 255, 0.199);
	padding: 1em;
	animation: zoom 600ms;
	border-radius: 25px;
}

.bloggrid >div:nth-child(1) {
	background: rgba(255, 255, 255, 0.199);
	height:max-content;
}

.bloggrid {
	display: grid;
	grid-template-columns: 20% 80% ;
	grid-gap: 1em;
	grid-auto-rows: minmax(200px,auto);
	margin-top: 4em;
	margin-left: 8em;
	margin-right: 8em;
}


.cardgrid {
	display: grid;
	grid-auto-rows: min-content;
	grid-template-columns: 1fr;
	grid-gap: 20px;
}

.cardgrid>div {
	border-radius: 25px;
	padding: 1em;
	/*border: 3px solid rgb(19, 19, 19);*/
	background-color:rgba(255, 255, 255, 0.199);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.26), 0 0 1px rgba(0,0,0,0.1);
	color: #4a4a4a;
	max-width: 100%;
	position: relative;
	transition: all .2s ease-in-out;


}

.cardgrid>div:hover{
	transform: scale(1.1);
	border: 3px solid rgba(219, 188, 153, 0.24);
}




@keyframes zoom {
	0% {
		transform: scale(0, 0);
	}

	100% {
		transform: scale(1, 1);
	}
}


/* Images and Paragraphs */

a {
	color: rgba(0, 0, 0, 0.959);
}

.img_round {
	border-radius: 50%;
}

.image1 {
	float: left;
	margin-right: -30em;
	margin-left: 10em;
}

h1 {
	font-size: 1.5em;
	font-weight: bold;
}

.title {
	font-size: 1.5em;
}


.fa_custom {
	color: #0099CC
}

p {
	color: rgba(0, 0, 0, 0.664);
}


li {
	color: rgba(0, 0, 0, 0.664);
	line-height: 2em;

}


/* Navigation Bar */
@keyframes easeIn {
	0% {
		transform: translateY(-100%);
	}

	100% {
		transform: translateY(0%);
	}
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 10%;
	/*background-color: #000000fd;*/
	background-color:rgba(255, 255, 255, 0.199);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.26), 0 0 1px rgba(0,0,0,0.1);
	animation: easeIn 600ms;
}

.logo {
	cursor: pointer;
}

.nav__links a,
.cta,
.overlay__content a {
	font-family: 'Times New Roman', Times, serif;
	font-weight: bold;
	color: #000000c9;
	text-decoration: none;
	font-size: 18px;
}

.nav__links {
	list-style: none;
	display: flex;
}

.nav__links li {
	padding: 0px 20px;
	height:25px;

}

.nav__links li a {
	transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
	color: #5db8c4d0;
}

.cta {
	padding: 9px 25px;
	background-color: rgba(0, 135, 169, 0.664);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: background-color 0.3s ease 0s;
}

.cta:hover {
	background-color: rgba(0, 136, 169, 0.8);
}

/* Mobile Nav */

.menu {
	display: flex;
}

.overlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	background-color: #24252a;
	overflow-x: hidden;
	transition: width 0.5s ease 0s;
}

.overlay--active {
	width: 100%;
}

.overlay__content {
	display: flex;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.overlay a {
	padding: 15px;
	font-size: 36px;
	display: block;
	transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
	color: #0088a9;
}

.overlay .close {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
	color: #edf0f1;
}


/* Table of Contents */

#toc_container {
	background: rgba(255, 255, 255, 0);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.26), 0 0 1px rgba(0,0,0,0.1);
	border: 1px solid #aaa;
	display: table;
	font-size: 100%;
	margin-bottom: 1em;
	padding: 20px;
	width: auto;
}

.toc_title {
	font-weight: bold;
	text-align: center;
}

#toc_container li,
#toc_container ul,
#toc_container ul li {
	list-style: outside none none !important;
	padding: 0;
	line-height: 2.3em;

}

#toc_container a {
	color: rgba(26, 23, 23, 0.911);
	font-size: 0.9em;
	font-weight: bold;
	text-decoration: none;

}

figcaption {
	background-color: rgb(36, 37, 37);
	color: rgb(235, 226, 226);
	font-style: italic;
	padding: 2px;
	text-align: center;
	margin-bottom: 20px;
}

section {
	border-bottom: 1px solid rgba(0, 0, 0, 0.616);
}
section:last-child{
	border-bottom: none;
}
