.figure {
    border: 1px #cccccc solid;
    padding: 4px;
    margin: auto;
  }
  
  .figcaption {
    background-color: black;
    color: white;
    font-style: italic;
    padding: 2px;
    text-align: center;
  }
  
  #grad1 {
    height: 200px;
    background-image: linear-gradient(to left, rgba(105, 179, 135, 0.801), rgb(73, 121, 175));
  }
